#list-container {
  max-width: 50%;
}

.list-item-container {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.list-img {
  max-width: 100%;
  min-width: 150px;
  height: 200px;
}

.list-img-container {
  max-width: 150px;
  float: left;
}

.list-description-container {
  max-width: 1000px;
  float: left;
  padding: 8px;
}
